{% extends 'base.html' %}
{% block content %}  
  <h2>Възстановяване на паролата</h2>  
  
  <p>Моля, въведете имейл адреса си, за да получите линк за възстановяване на паролата.</p>  
  
  <form method="post">  <!-- Формулярът използва POST метод -->  
    {% csrf_token %}  <!-- За защита от CSRF атаки -->  
    {{ form.as_p }}  <!-- Извежда формата като абзаци -->  
    
    <button type="submit">Изпрати линк за възстановяване</button>  
  </form>  
  <a href="{% url 'home' %}">Home</a>
  {% if messages %}  
    {% for message in messages %}  
      <div class="alert alert-info">  
        {{ message }}  
      </div>  
    {% endfor %}  
  {% endif %}  
{% endblock %}  